@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

/*NAV-MENU*/
nav{
    background: linear-gradient(to left, hsla(215, 65%, 53%, 0.35), hsl(191, 100%, 50%, 0.35));
    -webkit-box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.75);
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 3.5em;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav ul li{
    padding: 0.5em 1em;
    list-style:none;
}
nav ul li a{
    text-decoration: none;
    font-family: 'Akaya Telivigala', cursive;
    color: #000;
    font-weight: 900;
}
nav ul li a:hover{
    -webkit-text-stroke: 0.5px #000;
}

/*HEADER-INICIO*/
header{
    background: #00d2ff;
    background: -webkit-linear-gradient(to left, hsla(215, 65%, 53%, 0.55), hsl(191, 100%, 50%, 0.55)), url(../img/fondo.jpg);
    background: linear-gradient(to left, hsla(215, 65%, 53%, 0.55), hsl(191, 100%, 50%, 0.55)), url(../img/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.contenedor-texto{
    height: 25em;
    text-align: center;
    font-family: 'Akaya Telivigala', cursive;
}
.contenedor-texto h2{
    font-size: 2.5em;
}
.texto{
    color: #FFF;
    font-size: 2.5em;
}
.contenedor-texto h1{
    font-size: 3em;
    text-transform: uppercase;
}
.contenedor-texto h2{
    margin-top: 3em;
    font-size: 2.3em;
    text-transform: uppercase;
}

/*SECCION-CATALOGO*/
.catalogo{
    background: #b92b27;
    background: -webkit-linear-gradient(to bottom, #b92b27, #1565C0 );
    background: linear-gradient(to bottom,#b92b27, #1565C0);
}
.fp-controlArrow.fp-prev{
    position: absolute;
    top: 29rem;
    border-width: 20px 20px 20px 0;
    border-color: transparent #000 transparent transparent;
}
.fp-controlArrow.fp-next{
    position: absolute;
    top: 29rem;
    border-width: 20px 0px 20px 20px;
    border-color: transparent  transparent transparent #000; 
}
.info{
    position: relative;
    top: 16em;
    width: 100%;
    height: 10em;
    text-align: center;
}
.info h2{
    font-size: 1.3em;
    padding: 0 0 0.2em 0;
}
.imagen{
    position: relative;
    bottom: 9.5em;
    width: 85%;
    height: 15em;
    margin: auto;
    border-radius: 1000px;
}
.imagen img{
    width: 100%;
    height: 15em;
    border-radius: 1000px;
    border: 2px solid #000;   
}

/*FOOTER-REDES*/
footer{
    text-align: center;
}
footer h2{
    font-size: 2em;
}
footer .redes a{
    text-decoration: none;
    display: inline-block;
    margin: 1em 1em 0 1em;
}
.redes a .fab{
    font-size: 4em;
}
.redes .facebook i,
.redes .instagram i,
.redes .whatsapp i{
    color: #c2c2c2;
}
.redes .facebook i:hover{
    color: #3b5998;
    transition: color 1s linear 0.1s;
}
.redes .instagram i:hover{
    color: #c13584;
    transition: color 1s linear 0.1s;
}
.redes .whatsapp i:hover{
    color: #00bb2d;
    transition: color 1s linear 0.1s;
}
footer .enlace-perfil{
    position: relative;
    top: 10em;
}
.enlace-perfil a{
    font-size: 1.3em;
    text-decoration: none;
    color: #000;
}


/*ENLACE PERFIL*/
/*PERFIL*/
.perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 4em;
}
.perfil img{
    width: 15em;
    height: 10em;
    margin: 2em;
    border-radius: 1.5em;
    border: 2px solid #000;
}
.perfil article{
    width: 30em;
}
.perfil article h3{
    font-size: 1.5em;
    padding-bottom: 0.8em;
    padding-right: 1em;
    text-align: right;
}
.perfil article p{
    padding-right: 1em;
    text-align: right;
}
