@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');


/*ELIMINAR MARGENES POR DEFECTO*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}


/*SCROLL*/
html{
    scroll-behavior: smooth;
}


/*FONDO*/
body{
    background: #00d2ff;
    background: -webkit-linear-gradient(to left, hsla(215, 65%, 53%, 0.55), hsl(191, 100%, 50%, 0.55)), url(../img/fondo.jpg);
    background: linear-gradient(to left, hsla(215, 65%, 53%, 0.55), hsl(191, 100%, 50%, 0.55)), url(../img/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
}


/*MENU*/
header {
    background: linear-gradient(to left, rgb(57, 122, 213), rgb(0, 208, 255));
    -webkit-box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.75);
    width: 100%;
    position: fixed;
    z-index: 100;
}  
header nav {
    float: right; 
}
header nav ul {
    list-style: none;
    overflow: hidden;
}
header nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
header nav ul li a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
}
header nav ul li:hover {
    background: rgba(0,0,0,0.200);
}


/*CONTENEDOR DE TODO*/
.contenedor{
    width: 100%;
    max-width: 1600px;
    overflow: hidden;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "inicio     inicio      inicio      inicio"
                         "catalogo   catalogo    catalogo    catalogo"
                         "contacto   contacto    contacto    contacto";
}


/*INICIO*/
#inicio{
    width: 100%;
    grid-area: inicio;
}
#inicio .slogan{
    width: 90%;
    margin: 12.7em auto 5em auto;
    text-align: center;
    font-family: 'Akaya Telivigala', cursive;
}
.slogan h1{
    font-size: 3em;
}
.slogan h2{
    font-size: 3.5em;
    text-transform: uppercase;
}


/*GALERIA*/
#catalogo {
    width: 95%;
    grid-area: catalogo;
    margin: auto;
}
.contenedor-galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 10px;
    padding: 40px 0;
    overflow: hidden;
    margin-top: 6em;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.4);
}
.contenedor-galeria a{
    display: block;
    position: relative;
    overflow: hidden;
    width: 70%;
    margin:auto
}
.contenedor-galeria img{
    width: 70%;
    margin:auto;
    vertical-align: top;
    object-fit: cover;
}
/*IMAGENES GRANDES*/
.escalagaleria{
    position: fixed;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}
.escalagaleria img{
    position: absolute;
    top: 6em;
    width: 90vw;
    max-height: 70vh;
}
.escalagaleria:target{
    transform: scale(1);
}
/*BOTONES DE GALERIA*/
.cerrar{
    display: inline-block;
    position: absolute;
    top: 30px;
    right: 10px;
    text-decoration: none;
    color: #FFF;
}
.cerrar:hover{
    color: red;
    transition: ease 0.8s;
}
.cerrar i,
.adelante i,
.atras i{
    font-size: 4em;
}
.atras,
.adelante{
    display: block;
    color: #FFF;
    text-decoration: none;
    margin: 2em;
}
.atras:hover ,
.adelante:hover{
    color: green;
    transition: ease 0.8s;
}


/*CONTACTO*/
#contacto{
    grid-area: contacto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/*TITULO E ICONOS DE REDES*/
.redes{
    width: 70%;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.4);
    padding: 2em;
}
.redes h2{
    display: block;
    font-size: 3em;
}
.redes .iconos i{
    margin: 1em 2em;
    font-size: 3em;
}
.iconos a .fa-facebook{
    color:#3b5998
}
.iconos a .fa-instagram-square{
    color: #d6249f;
}
.iconos a .fa-youtube{
    color:#c4302b
}
a .fa-facebook:hover,
a .fa-instagram-square:hover,
a .fa-youtube:hover{
    transform: scale(1.2);
    transition: ease 1s;
}
/*PERFIL Y TALLER*/
.otros{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.otros a{
    background: rgba(0,0,0,0.1);
    padding: 0.5em;
    color: #000;
    border-radius: 5px;
}


/*ADAPTACION A DISPOSITIVOS*/
@media (max-width: 480px) {
    *{
        font-size: 11px;
    }
    .contenedor{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-template-areas: "inicio     inicio"
                             "catalogo   catalogo"
                             "contacto   contacto";
    }
    .contenedor-galeria{
        margin-top: 6em;
    }
    .atras,
    .adelante{
        position: absolute;
        bottom: 5em;
    }
    .adelante{
        right: 3em;
    }
    .atras{
        left: 3em;

    }
    #contacto{
        margin-bottom: 2em;
    }
    .redes{
        width: 95%;
        margin-top: 2em;
    }
    .redes h2{
        font-size: 2em;
    }
    .redes .iconos i{
        margin: 1.5em 1em;
    }
    .redes .iconos{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}