@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');


/*ELIMINAR MARGENES POR DEFECTO*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}


/*SCROLL*/
html{
    scroll-behavior: smooth;
}


/*FONDO*/
body{
    background: #00d2ff;
    background: -webkit-linear-gradient(to left, hsla(215, 65%, 53%, 0.55), hsl(191, 100%, 50%, 0.55)), url(../img/fondo.jpg);
    background: linear-gradient(to left, hsla(215, 65%, 53%, 0.55), hsl(191, 100%, 50%, 0.55)), url(../img/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
}


/*MENU*/
header {
    background: linear-gradient(to left, rgb(57, 122, 213), rgb(0, 208, 255));
    -webkit-box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 10px -6px rgba(0,0,0,0.75);
    width: 100%;
    position: fixed;
    z-index: 10;
}  
header nav {
    float: right; 
}
header nav ul {
    list-style: none;
    overflow: hidden;
}
header nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 1em;
}
header nav ul li a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
}
header nav ul li:hover {
    background: rgba(0,0,0,0.200);
}