/*CONTENEDOR DE TODO*/
.contenedor{
    width: 100%;
    max-width: 1600px;
    overflow: hidden;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat (3 , minmax(800px,1fr));
    grid-template-areas: "inicio     inicio      inicio      inicio"
                         "catalogo   catalogo    catalogo    catalogo"
                         "contacto   contacto    contacto    contacto";
}


/*INICIO*/
#inicio{
    width: 100%;
    grid-area: inicio;
    display: flex;
    justify-content: center;
    align-items: center;
}
#inicio .slogan{
    width: 90%;
    text-align: center;
    font-family: 'Akaya Telivigala', cursive;
    margin: 15em auto;
}
.slogan h1{
    font-size: 3em;
}
.slogan h2{
    font-size: 3.5em;
    text-transform: uppercase;
}


/*GALERIA*/
#catalogo {
    width: 95%;
    grid-area: catalogo;
    margin: auto;
    text-align: center;
}
.contenedor-categorias{
    margin: 5em auto;
    background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.4);
    padding: 2em;
}
.titulo-catalogo{
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Akaya Telivigala', cursive;
}
.titulo-catalogo  h2{
    font-size: 3em;
}
#catalogo .categorias a{
    color: #9b9b9b;
    display: inline-block;
    padding: 0.2em 1.1em ;
    font-size: 1.5em;
    text-decoration: none;
}
#catalogo .categorias a.activo{
    color: rgb(57, 122, 213);
}
.grid{
    position: relative;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s linear 1s;
}
.grid.imagenes-cargadas {
	opacity: 1;
}
.grid .item{
    position: absolute;
    display: block;
    padding: 0;
    margin: 10px;
    width: calc(33.33333% - 20px);
}
.grid .item img{
    width: 70%;
    cursor: pointer;
    vertical-align: top;
}
.grid .item .item-contenido{
    position: relative;

}
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.9);
	width: 100%;
	height: 100vh;
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    z-index: 11;
}
.overlay.activo {
	display: flex;
}
.overlay img {
	max-width: 100%;
}
.overlay .descripcion {
	display: block;
	background: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 5px;
	border-radius: 10px;
	max-width: 50%;
}
.overlay #btn-cerrar-popup {
	background: none;
	font-size: 20px;
	color: #fff;
	border: none;
	cursor: pointer;
	position: absolute;
	right: -20px;
	top: -20px;
}


/*CONTACTO*/
#contacto{
    grid-area: contacto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/*TITULO E ICONOS DE REDES*/
.redes{
    width: 70%;
    margin: auto;
    margin-top: 8em;
    margin-bottom: 8em;
    background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.4);
    padding: 2em;
}
.redes h2{
    display: block;
    font-size: 3em;
    font-family: 'Akaya Telivigala', cursive;
}
.redes .iconos i{
    margin: 1em 2em;
    font-size: 3em;
}
.iconos a .fa-facebook{
    color:#3b5998
}
.iconos a .fa-instagram-square{
    color: #d6249f;
}
.iconos a .fa-youtube{
    color:#c4302b
}
a .fa-facebook:hover,
a .fa-instagram-square:hover,
a .fa-youtube:hover{
    transform: scale(1.2);
    transition: ease 0.7s;
}
/*PERFIL Y TALLER*/
.otros{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.otros a{
    background: rgba(0,0,0,0.1);
    padding: 0.5em;
    color: #000;
    border-radius: 5px;
}
